<div class="jumbotron text-left">
		<div class="container-fluid"><div class="row">
			
				<div class="search-wrap">
					<h5 class="discover">Discover more Recipes</h5>
					<div class="input-group">
						
						<input type="text" class="form-control" name="x" id="search" placeholder="Search">
												
						
						<div class="text-end">
          <button type="button" align="" class="btn btn-warning">Login</button>
          <button type="button" class="btn btn-outline-light me-2">Sign-up</button>
        </div>
					   
				</div>
			</div>
		</div>
	</div>
		
	</div>