<div class="row">
    <div class="col-sm-12 main-heading">
        <h6>
            Categories
            <a href="#" class="see-all">See all ></a>
        </h6>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item" (click)="onCategorySelect('Good Food')">
            <img src="/assets/img/baking.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item"
            (click)="onCategorySelect('Mary Cadogan')">
            <img src="/assets/img/barbeque.png" alt="" class="categorie-img">
            <span class="heading">Barbeque & Grilling</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/breakfast.png" alt="" class="categorie-img">
            <span class="heading">Breakfast & Brunch</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/healthy.png" alt="" class="categorie-img">
            <span class="heading">Healthy Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/Snacks.png" alt="" class="categorie-img">
            <span class="heading">Appetizer & Snacks</span>
        </button>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/quick.png" alt="" class="categorie-img">
            <span class="heading">Quick & Easy Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/holidays.png" alt="" class="categorie-img">
            <span class="heading">Holiday Recipes</span></button>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/breakfast.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/healthy.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/chicken.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>

    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/breakfast.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-outline-success categories-item">
            <img src="/assets/img/breakfast.png" alt="" class="categorie-img">
            <span class="heading">Baking Recipes</span>
        </button>
    </div>