

        <div class="row wrapper">
            <div class="col-sm"><div class="side-navigation">
                    <span class="menu">MENU</span>
                    <ul class="navigation-wrap">
                        <li>
                            <a href="#">Dashboard</a>
                        </li>
                        <li>
                            <a href="#">Discover Recipes</a>
                        </li>
                        <li>
                            <a href="#">Favourite</a>
                        </li>
                        <li>
                            <a href="#">My Recipes</a>
                        </li>
                        <li>
                            <a href="#">Settings</a>
                        </li>
                    </ul>
                    <span class="menu">Your Account</span>
                    <ul class="account-wrap">
                        <li>
                            <a href="#">Account</a>
                        </li>
                        <li>
                            <a href="#">Help & Support</a>
                        </li>
                        <li>
                            <a href="#">Logout</a>
                        </li>
                    </ul>
                </div></div></div>